<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div class="content">
            <h1>All Blogs | About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                corporis aut natus eaque commodi nisi soluta debitis adipisci
                possimus culpa dignissimos error odio rem harum consequatur
                deleniti nemo, tenetur vel.
            </p>
        </div>
        <%- include('./partials/footer.ejs')%>
    </body>
</html>
