<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            span {
                color: blue;
                font-weight: 700;
            }
        </style>
    </head>
    <body>
        <h1><%= title %></h1>
        <div><span><%= userInfo.id %></span>님 환영합니다!</div>
        <div>비밀번호는 <span><%= userInfo.pw %></span>이군요!!</div>

        <br />
        <br />
        <a href="/">홈으로 이동하기</a>
        <!-- a를 누르면 root로 이동하는 것이기 때문에 아래의 get 방식이 호출됨
        app.get("/", (req, res) => {
            res.render("index", { title: "폼 실습을 해봅시다" });
        }); 
        -->
    </body>
</html>
